# Database Configuration
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=magician_props_store

# Backend Configuration
NODE_ENV=development
PORT=3001

# Frontend Configuration
REACT_APP_API_URL=http://localhost:3001




# Other
HUD_API_KEY=demo_e29d3e198e60d88697d3cfb5b1e428d9424398933affd5f8a7bdf7d06a621b75